<STYLE TYPE-"type/css">
<!--
body {
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: #CCCCCC;
  background-color: #6F6F6F }
  
#top {
    background-color: #6F6F6F;
    font-family: Georgia, "Times New Roman",
        Times, serif;
    color: #000000;
    }
#top .tophdr {
  font-size: 20pt;
}
a.top:link {
  color: #000000;
  text-decoration: none;
}    
a.top:visited {
  color: #1A1A1A;
  text-decoration: none;
}    
a.top:hover {
  text-decoration: underline;
}


a:link {
  color: #0F1CC1;
  text-decoration: none;
}    
a:visited {
  color: #0F1CC1;
  text-decoration: none;
}    
a:hover {
  text-decoration: underline;
}
    

h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }

pre.code {
  color: #076300;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-size: 7pt;
}
-->
</STYLE> 
